body {
    font-family: Arial, sans-serif;
    background-color: #6cb7f8;
  }
  .container {
    margin: 100px auto;
    align-items: center;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(3, 3, 3, 3);
    border-radius: 4px;
  }
  h2 {
    margin-top: 0;
    color: #333333;
  }
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  button {
    width: 100%;
    padding: 10px;
    background-color: #ff301d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
  }
  button:hover{
    /* color: #333333; */
    background-color: #4fd611;
  }
  #result {
    font-weight: bold;
    font-size: large;
    margin-top: 15px;
    padding: 10px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 480px) {
    .container {
      max-width: 300px;
    }
  }

  @media screen and (max-width: 320px) {
    input[type="number"],
    select,
    button {
      font-size: 14px;
    }
  }